<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mssg</title>
  </head>
  <body>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit asperiores
    aliquam quae, quam assumenda similique, quia est veritatis enim, perferendis
    voluptates reprehenderit natus nihil tenetur autem. Nobis cupiditate et
    architecto!
  </body>
</html>
